<!DOCTYPE html>
<html>
	<head>
		<title>Mid Term Project: Scheduling Program</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css"/>
		<link rel="stylesheet" href="main.css"/>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js"></script>
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body ng-app="calendarMod" ng-controller="calendarController">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 logo">
					<img src="http://wagzpetmarket.com/images/logo-grooming.jpg">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 header">
					
					<h1>Welcome to the Grooming Salon Scheduling Page</h1>
					<h3>Complete the forms below to schedule your groom</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 groomerSelect">
					<h4>{{greenMessage}}</h4>
					<form ng-hide="hideForms">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="selectedGroomerAlli"> Alli
							</label>
							<label>
								<input type="checkbox" ng-model="selectedGroomerEmily"> Emily
							</label>
							<label>
								<input type="checkbox" ng-model="selectedGroomerAmber"> Amber
							</label>
							<button type="submit" ng-click="selectedGroomers()">Submit</button>
						</div>
					</form>
					<div ng-show="showGroomerAlli">
						<h3>Alli</h3>
						<img src="http://wagzpetmarket.com/images/staff_alli.jpg">
					</div>
					<div ng-show="showGroomerEmily">
						<h3>Emily</h3>
						<img src="http://wagzpetmarket.com/images/staff_emily.jpg">
					</div>
					<div ng-show="showGroomerAmber">
						<h3>Amber</h3>
						<img src="http://wagzpetmarket.com/images/staff_amber.jpg">
					</div>
				</div>
				<div class="col-xs-8" ng-show="showForms">
					<ul class="nav nav-tabs">
						<li role="presentation"><a href="#contactInfo" aria-controls="contactInfo" role="tab" data-toggle="tab">Contact Info</a></li>
						<li role="presentation"><a href="#dogInfo" aria-controls="dogInfo" role="tab" data-toggle="tab">Dog Info</a></li>
						<li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services Needed</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane" id="contactInfo">
							<form>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name" ng-model="customerName">
								</div>
								<div class="form-group">
									<input type="tel" class="form-control" placeholder="Phone Number" ng-model="phone">
								</div>
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email Address" ng-model="email">
								</div>
								
							</form>
						</div>
						<div role="tabpanel" class="tab-pane" id="dogInfo">
							<form>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name" ng-model="dogName">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Breed" ng-model="breed">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Weight" ng-model="weight">
								</div>
								<div class="form-group">
									<label for="fileInput">Upload Rabies Info</label>
									<input type="file" id="fileInput">
									<p class="help-block">Note: Rabies info must be presented in person if not uploaded here.</p>
								</div>
							</form>
						</div>
						<div role="tabpanel" class="tab-pane" id="services">
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{service}}<span class="caret"></span></button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="#" ng-click="serviceBath()">Bath and Brush</a></li>
									<li><a href="#" ng-click="serviceFFT()">Face, Feet, and Tail</a></li>
									<li><a href="#" ng-click="serviceFullGroom()">Full Groom</a></li>
								</ul>
								<button type="submit" class="btn btn-success" ng-click="subInfo()">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 customerInfo" ng-show="showCustomer">
					<h3>Customer Info</h3>
					<p ng-model="emailContent">
					   Name: {{customerName}} <br/>
					   Phone: {{phone}} <br/>
					   Email: {{email}} <br/>
					   Dog Name: {{dogName}} <br/>
					   Breed: {{breed}} <br/>
					   Weight: {{weight}}lbs <br/>
					   Service Requested: {{service}} <br/>
					   Groomer(s): 
						<ul>
							<li ng-repeat="groomer in groomers">{{groomer}}</li>
						</ul>
					<br/>
					
						Desired Dates: 
						<ul>
							<li ng-repeat="appointment in newCustomer.availableDates">
								Date: {{appointment.date.date | date:"MM/dd/yyyy"}} <br/>
								Time: {{appointment.time}}
							</li>
						</ul>
					</p>
					<button class="btn btn-success btn-lg" ng-show="submitAll" ng-click="submitted()">Submit</button>
				</div>
				<div class="col-xs-8" ng-show="showDates">
					<h2>Dates</h2>
					<p>Select some dates to check for availability.</p>
					<ul>
						<li class="dates" ng-repeat="newDate in dates">{{newDate.date | date:"MM/dd/yyyy"}} 
						<button class="btn btn-default" ng-click="bookTime(newDate)">Book a Time</button>
						<div class="dropdown" ng-show="newDate.bookAppointment">
							<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Choose Time<span class="caret"></span></button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<li ng-repeat="time in times"><a href="#" ng-click="pushAppointment(newDate, time)">{{time}}</a></li>
							</ul>
						</div>
						</li>
						<button class="btn btn-default" ng-click="moreDates()">More Dates...</button>
					</ul>
					<button class="btn btn-success" ng-click="submitRequest()">Submit Grooming Request</button>
				</div>
				<div class="col-xs-8" ng-show="showFinalMessage">
					<h4>We will be contacting you soon with your appointment confirmation.</h4>
				</div>
			</div>
		</div>
	</body>
</html>