.header {
	text-align: center;
}

.groomerSelect {
	background-color: #33cc33;
	padding: 10px;
}

.dates {
	border-bottom: 1px solid black;
}

.customerInfo {
	background-color: #99b3ff;
}

body {
	background-color: #ebfafa;
}

.logo {
	background-color: white;
}

.topPage {
	background-color: white;
}

.dog {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

.finalMessage {
	text-align: center;
}

.fancy {
	font-family: cursive;
	text-align: right;
}

.submissionForm input{
	float: right;
}
