.header {

}

.groomerSelect {
	background-color: #33cc33;
	padding: 10px;
}

.dates {
	border-bottom: 1px solid black;
}

.customerInfo {
	background-color: #99b3ff;
}

body {
	background-color: #ebfafa;
}

.logo {
	background-color: white;
}
